/ProyectoISDCM/dist/
/BusquedaVideos/dist/
/ProyectoISDCM_SOAP/build/
/ProyectoISDCM_SOAP/dist/
/Streaming/Streaming/nbproject/private/
/Streaming/Streaming/build/
/Streaming/Reproduccion/nbproject/private/
/Streaming/Reproduccion/build/
/Streaming/Reproduccion/dist/
/ProyectoISDCM_REST/build/
/Prueba_ServerRest/Prueba_ServerRest/build/
/Prueba_ServerRest/Prueba_ServerRest/dist/
/Prueba_ServerRest/Prueba_ServerRest/nbproject/private/
/Prueba_ServerRest/build/
/Prueba_ServerRest/dist/
/Prueba_ServerRest/nbproject/private/
/ProyectoISDCM_REST/dist/