body {
  background-color: #91ced4;
}
body * {
  box-sizing: border-box;
  padding:0 2em;
  
}

p {padding:0 !important; text-align:left !important; float:left !important; margin-top:20px !important;}
b {padding:0 !important;}
.formRepro{ width: 10%; margin-top: 100px;margin-right: 290px; }


#divframe{height:10%; width: 10%;display:block;margin-left: auto;margin-right: auto;background-color: grey;}
